.header-section
{
    width: 100%;
    background-color: #1C2B35;
    height: 80px;
    position: sticky;
    top: 0;
}
.header-container
{
    width: 80%;
    height: 100%;
    margin: 0 auto;
}
.header-head
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu ul
{
    display: flex;
    align-items: center;
    list-style: none;
}
.menu ul li a 
{
    text-decoration: none;
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 550;
    line-height: normal;
    letter-spacing: 0.085px;
    margin: 0px 10px;
    transition: all 0.3s ease;
}
.menu ul li a:hover 
{
    color: #FF9900;
}

.active 
{
    color: #FF9900 !important;
    background-color: #1C2B35;
}