.main-body
{
    padding: 1rem;
    margin-left: 220px;
    padding-top: 80px;
}

.promo_card
{
    width: 100%;
    color: #fff;
    margin-top: 10px;
    border-radius: 8px;
    padding: 0.5rem 1rem 1rem 3rem;
    border: 1px solid #ff9900;
    color: black;
    background-color: #dddddd75;
}

 
.history_lists
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

table
{
    background: #fff;
    padding: 1rem;
    text-align: left;
    border-radius: 10px;
}

table td, th
{
    padding: 0.2rem 0.8rem;
    border: 1px solid #ff9900;
}

table th
{
    font-size: 15px;
}
table td
{
    font-size: 13px;
    color: rgb(100, 100, 100);
}
.btns
{
    border: none;
    color: white;
    background-color: #ff9900;
    padding: 3px 15px;
    font-weight: 600;
    border-radius: 3px;
}